@font-face {
    font-family: NorseBold;
    src: url("Norse-Bold.otf");
}

@font-face {
    font-family: PoppinsMedium;
    src: url("Poppins-Medium.ttf");
}

@font-face {
    font-family: PoppinsBold;
    src: url("Poppins-Bold.ttf");
}

@font-face {
    font-family: PoppinsRegular;
    src: url("Poppins-Regular.ttf");
}

body
{
    display: flex;
    margin: 0;
    background-color: #111827;
    color: white;
}

#left-panel
{
    display: flex;
    justify-content: center;
}

#left-image
{
    object-fit: cover;
   width: 40vw;
   height: 100vh;
   position: relative;
}

#logo-background
{
    background-color: rgba(100, 100, 100, 0.5);
    position: absolute;
    width: 40vw;
    height: 20vh;
    z-index: 1;
    margin-top: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo
{
    display: flex;
    z-index: 2;
    position: absolute;
    color: white;
    align-items: center;    
}

#logo-image
{
    width: 8vw;
    height: 18vh;
}

#logo-text
{
    font-family: NorseBold;
    font-size: 80px;
    padding-left: 30px;
}

#art-credit
{
    color: white;
    z-index: 1;
    position: absolute;
    align-self: flex-end;
    padding-bottom: 5px;
    font-family: PoppinsMedium;
}

#main
{
    display: flex;
    flex-direction: column;
    font-family: PoppinsRegular;
    width: 70vw;
    padding-left: 50px;
}

.text-dummy
{
    display: flex;
    flex-direction: column;
    font-size: x-large;
}

h1
{
    font-family: NorseBold;
}

.text-viking
{
    font-family: NorseBold;
    color: rgb(200, 0, 0);
    font-weight: bold;
}

.log-in
{
    display: flex;
    align-items: center;
    font-size: x-large;
    gap: 20px;
}

#form
{
    width: 800px;
    box-sizing: border-box;
    border-radius: 12px;
    box-shadow: 0 10px 20px -2px lightcoral;
    padding: 20px;
}

#form-user
{
    display: flex;
    flex-flow: row wrap;
    gap: 25px;
}

#button-submit
{
    margin-top: 20px;
    color: white;
    width: 12rem;
    height: 3rem;
    font-family: PoppinsMedium;
    font-size: large;
    font-weight: bold;
    background-color: #111827;
    border-radius: 6px;
    border-color: darkred;
    border: 1;
    transition-duration: 0.4s;
}

#button-submit:hover
{
    background-color: darkred;
}

input
{
    border: 0;
    border-radius: 4px;
    width: 300px;
    border-color: #E5E7EB;
    padding: 5px;
}


.form-link:link, .form-link:visited
{
    color: darkred;
    text-decoration: none;
}

.form-link:hover
{
    text-decoration: underline;
}

.form-link:active
{
    color: aquamarine;
}

#errorMsg
{
    color: white;
}

